body {
  margin: 0;
  padding: 0;
  background-color: #f7f2f2;
  font-family: 'EB Garamond', serif;
}

.main {
  margin-top: 1%;
  text-align: center;
  margin-left: 24%;
  margin-right: 24%;
}

.comp {
  margin-top: 0.5em;
  text-align: left;
  font-size: 1.3em;
}

select {
  transition: 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 0;
  padding-right: 20px;
  padding-left: 10px;
  background: url(select.png) no-repeat 100% center;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  color: #2d3e50;
  border: 0;
  border-bottom: 1px solid rgba(39, 174, 97, 0.5);
  border-radius: 0px;
}

.wrong {
  border: 1px solid rgba(173, 39, 39, .5);
  border-radius: 10px;
}

select:active, select:hover {
  outline: none;
}

select:focus {
  transition: 0.5s;
}

option {
  font-size: 0.9em;
}

option:checked {
  background-color: rgba(#6f6f6f,.64);
}

.img {
  height: 1em;
  width: auto;
}

.check {
  font-family: 'Open Sans', sans-serif;
  margin-top: 2em;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #868686;
  border-radius: 50px;
}

.done{
  margin-top: 1em;
}

.btn {
  position: relative;
  margin: 0.5em;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}

.btn.gray {
  background-color: #fff;
  color: #000;
}

.btn.gray:hover, .btn.gray:focus {
  background-color: #e7e7e7;
}
