* {
  transition: 1s;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html{
  overflow: hidden;
}

body{
  background-color: #1a2632;
}

.main{
  margin: 1%;
  text-align: center;
}

.title{
  margin-top: 3%;
  text-align: center;
  font-size: 2em;
}

.name{
  font-size: 0.9em;
  text-align: right;
  margin-right: 22%;
}

.pic{
  cursor: pointer;
  position: fixed;
  bottom: 0;
  margin-bottom: 50%;
}

.pic img{
  transition: 3s;
  width: 100%;
  height: auto;
  filter: grayscale(50%);
}

.pic img:hover{
  transform: scale(1.15) rotate(360deg);
  filter: grayscale(0%);
  margin-bottom: 150%;
}
