.imgpre{
  position: fixed;
  z-index: 99;
  width: 0px;
  height: 0px;
}
.imgpre div img{
  display: none;
   width: 0;
   height: 0;
}
.a1{
  background-image: url(../img/9gag.png);
}
.a2{
  background-image: url(../img/lodf.png);
}
.a3{
  background-image: url(../img/menuclose.png);
}
.a4{
  background-image: url(../img/menuopenmode.png);
}
.a5{
  background-image: url(../img/r2.png);
}
.a6{
  background-image: url(../img/ri.png);
}
