@charset "utf-8";

body {margin:0; padding:0; background:#4a89b3;}
#main{font-family: "Open Sans", Helvetica, Arial, sans-serif; width:100%; background:#fff; margin:0; padding:0;}
a{text-decoration:none; color:#000;}

#h {text-align:center; padding:0px; margin:0; padding:0;}
#h:active {font-size:30px; color:#b94646; background-color:#ffffff;}

#r{float:left; position: auto; width:49.9%; height:auto; background-color:#dd277b; text-align:center;}
#r:active{background-color:#ff0076;}

#r2{float:left; position: auto; width:49.9%; height:auto; background-color:#e6bd4e; text-align:center;}
#r2:active{background-color:#d8ae3b;}

#l{float:right; position: auto; width:49.9%; height:auto; background-color:#a849f0; text-align:center;}
#l:active{background-color:#8d36cf;}

/*fejlesztés alatt*/
#c {float:right; position: auto; width:49.9%; height:auto; text-align:center; background-color: #FFC;}
#c:active{}

#end {font-family: "Open Sans", Helvetica, Arial, sans-serif; font-size:16px; width:100%; background:#4a89b3; margin:0; padding:0;}
.d {text-align:center; padding-left:10px;; margin:0; color:#FFF;}
#end a:active{color:#b94646;}

/*Ask és insta*/
.ask{text-align:center; padding-left:10px;; margin:0; color:#ffc452;}
.insta{text-align:center; padding-left:10px;; margin:0; color:#c127ad;}

#s {height:auto; width:100%; float:left; position: auto;}
.e {padding:1px;color:#4a89b3; font-size:5px;}

.i {position: auto; padding-left:0%; padding-top:2%; padding-bottom:2%; width:75%; height:auto;}
.i:active {position: auto; padding-left:3%; padding-top:1%; padding-bottom:2.5%; width:76%; height:auto;}
