* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f1c50e;
}

html, body {
  overflow: hidden;
}

body {
  background-color: #005772;
}

#cont {
  border-top: 2px solid #fff;
}

.head {
  position: fixed;
  top: 0;
  background-color: #212d3b;
  color: #e84c3d;
  width: 100%;
  height: 58px;
  z-index: 5;
}

.head ul {
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
}

.head ul li {
  display: inline-block;
  text-align: center;
}

.push {
  margin-left: 65%;
}

.head ul li h1 {
  top: 1.5%;
  margin-left: 13%;
  position: fixed;
  font-family: 'Bitter', serif;
}

#menuimg {
  transition: 2s;
}

.content {
  margin-top: 65px;
}

.content img {
  transition: 1s;
  padding: 4%;
  width: 75%;
  height: auto;
}

.content a {
  text-align: center;
}

.divtop {
  margin-top: 5.5% !important;
}

.r {
  float: left;
  position: auto;
  width: 42%;
  height: auto;
  border-left: 1.5px solid #fff;
  border-bottom: 2px #fff solid;
  border-radius: 2.5px;
  margin-left: 9px;
  text-align: center;
}

.r img {
  filter: grayscale(70%);
}

.r:hover {
  border: 2px solid #fff;
  background-color: #323c48;
  border-radius: 30px;
  z-index: 1;
}

.r:hover img {
  filter: none;
  -ms-transform: rotate(-7deg) scale(1.1);
  -webkit-transform: rotate(-7deg) scale(1.1);
  transform: rotate(-7deg) scale(1.1);
  z-index: 2;
}

.l {
  float: right;
  position: auto;
  width: 42%;
  height: auto;
  border-right: 1.5px solid #fff;
  border-bottom: 2px #fff solid;
  border-radius: 2.5px;
  margin-right: 9px;
  text-align: center;
}

.l img {
  filter: grayscale(70%);
}

.l:hover {
  border: 2px solid #fff;
  background-color: #323c48;
  border-radius: 30px;
  z-index: 1;
}

.l:hover img {
  filter: none;
  -ms-transform: rotate(7deg) scale(1.1);
  -webkit-transform: rotate(7deg) scale(1.1);
  transform: rotate(7deg) scale(1.1);
  z-index: 2;
}

#space {
  float: left;
  position: auto;
  width: 100%;
  height: 20px;
}

.close {
  z-index: 2;
  position: fixed;
  top: 57px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: none;
}
