@charset "utf-8";

/* CSS Document */

a {
  text-decoration: none;
  color: #fff;
}

header a, label {
  font-size: 22px;
}

header a, label:hover {
  color: #d2d2d2;
}

header a, label:active {
  color: #d2d2d2;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: monospace, serif;
  font-family: 'courier new', monospace;
  background-color: #22272a;
  text-align: center;
}

#main {
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
  font-style: bold;
  padding-top: 15px;
}

#head {
  text-align: center;
  border-top: 2px solid #fff;
  margin-left: 9px;
  margin-right: 9px;
  padding-bottom: 50px;
}

h1 {
  font-family: 'Limelight', cursive;
  transition: 1s;
  font-size: 3.9em;
  margin: 0;
  margin-top: 13%;
}

h1:hover {
  color: #d2d2d2;
}

h1:active {
  color: #d2d2d2;
}

h2 {
  font-family: 'Bubbler One', sans-serif;
  transition: 1s;
  color: #e85151;
  font-size: 2.2em;
  margin: 0;
}

h2:hover {
  color: #e92b2b;
}

#r, #l, img{
  transition: 1s;
}

#r {
  float: left;
  position: auto;
  width: 42%;
  height: auto;
  border-left: 2.5px solid #fff;
  border-bottom: 2px #fff solid;
  border-radius: 2.5px;
  margin-left: 9px;
  text-align: center;
}
#r img {
  filter: grayscale(70%);
}

#r:hover {
  border: 2.5px solid #fff;
  border-radius: 30px;
  background: #171b1d;
  z-index: 1;
}
#r:hover img {
  filter: none;
  -ms-transform: rotate(-7deg) scale(1.1);
  -webkit-transform: rotate(-7deg) scale(1.1);
  transform: rotate(-7deg) scale(1.1);
  z-index: 2;
}

#l {
  float: right;
  position: auto;
  width: 42%;
  height: auto;
  border-right: 2.5px solid #fff;
  border-bottom: 2px #fff solid;
  border-radius: 2.5px;
  margin-right: 9px;
  text-align: center;

}

#l img {
  filter: grayscale(70%);
}

#l:hover {
  border: 2.5px solid #fff;
  border-radius: 30px;
  background: #171b1d;
  z-index: 1;
}
#l:hover img {
  filter: none;
  -ms-transform: rotate(7deg) scale(1.1);
  -webkit-transform: rotate(7deg) scale(1.1);
  transform: rotate(7deg) scale(1.1);
  z-index: 2;
}

#ldev {
  float: right;
  position: auto;
  width: 42%;
  height: auto;
  border-right: 2.5px solid #fff;
  border-bottom: 2px #fff solid;
  border-radius: 2.5px;
  margin-right: 9px;
  text-align: center;

}

#ldev img {
  filter: grayscale(70%);
}

#ldev:hover {
  border: 2.5px solid #fff;
  border-radius: 30px;
  background: #171b1d;
  z-index: 1;
}
#ldev:hover img {
  filter: none;
  -ms-transform: rotate(7deg) scale(1.1);
  -webkit-transform: rotate(7deg) scale(1.1);
  transform: rotate(7deg) scale(1.1);
  z-index: 2;
}

#rdev {
  float: left;
  position: auto;
  width: 42%;
  height: auto;
  border-left: 2.5px solid #fff;
  border-bottom: 2px #fff solid;
  border-radius: 2.5px;
  margin-left: 9px;
  text-align: center;
}

#rdev img {
  filter: grayscale(70%);
}

#rdev:hover {
  border: 2.5px solid #fff;
  border-radius: 30px;
  background: #171b1d;
  z-index: 1;
}
#rdev:hover img {
  filter: none;
  -ms-transform: rotate(-7deg) scale(1.1);
  -webkit-transform: rotate(-7deg) scale(1.1);
  transform: rotate(-7deg) scale(1.1);
  z-index: 2;
}

.p {
  padding: 4%;
  width: 75%;
  height: auto;
}

.p2 {
  padding: 4%;
  width: 75%;
  height: auto;
}

#menet {
  color: #2a9d8f;
  font-family: 'Anton', sans-serif;
}

#menet:hover {
  color: #1bbaa6;
}


#space, #spacedev {
  float: left;
  position: auto;
  width: 100%;
  height: 20px;
}

#daynight{
  font-family: 'Anton', sans-serif;
  bottom: 0;
  position: fixed;
  text-align: center;
  z-index: 9999;
  width: 100%;
  font-size: 2.5em;
  color: #868686;
  background-color: #cccccc;
  border: 2px #868686 solid;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
